
    body{
        margin: 0;
    }
    h1,h2{
        text-align: center;
        text-decoration: none;
        margin: 0;

    }
    h1{
        
        font-size:300% ;
        border-bottom: 2px solid black;
        
    }
    h2{
        font-size: 100%;
    }
    a{
        color: black;
        text-decoration:none ;
    }
    #grid{
        display: grid;
        grid-template-columns: 180px 1fr;
        
    }
    ul{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        border-right: 2px solid black;
        display: flex;
        flex-direction: column;
    }
    h3{
        padding: 0px;
        padding-bottom: 0;
        padding-left: 35px;
    }
    @media (max-width:800px){
        #grid{
            display: block;
        }
        ul{
            border-right: none;
        }
    }
    h4{
        margin: 20px;
        margin-top: 0;
        text-indent: 5px;
    }